@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}

.hidden-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hidden-scroll::-webkit-scrollbar {
    display: none;
}

.flip-camera {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
